h1 {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
}

a:link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #F59100;
}

a:visited {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #F59100;
}

a:hover {
  text-decoration: underline;
}

.axisGrey line {
  stroke: grey;
}

.axisGrey path {
  stroke: none;
}

.axisGrey text {
  fill: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.laughterBackground{
  fill: #F0F0F0;
}

.laughterCode{
  fill: #FF0000;
}
