.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}

.line2 {
  fill: none;
  stroke: url(#area-gradient);
  stroke-width: 12px;
}

.area2 {
  fill: url(#area-gradient);
  stroke-width: 0px;
}

.axisGrey line {
  stroke: grey;
}

.axisGrey path {
  stroke: grey;
}

.axisGrey text {
  fill: grey;
}

body {
  font: 12px sans-serif;
  color: black;
}

a:link {
  text-decoration: none;
  font: 12px sans-serif;
  color: steelblue;
}

a:visited {
  text-decoration: none;
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}
